html {
	background: #977AD4;
	color: #ffffff;
	margin: auto;
	width: 75%;
}



h1 {
	text-align: center;
}

.happyContainer {
	float: left;
	padding-left: 15px;
}

.happyContainer p {
	font-size:2.5em;
}

.sadContainer {
	float: right;
	padding-left: 15px;
}

.sadContainer p {
	font-size:2.5em;
}